@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --DarkBlue: hsl(240, 38%, 20%);
    --GrayishBlue: hsl(240, 18%, 77%);
}

body {
    font-family: "Inter", sans-serif;
}

.testimonial-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.slider-image-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    background: url(../images/pattern-bg.svg) no-repeat center/contain;
    position: relative;
}

.slider-avatar {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    width: 350px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.slider-navigation {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 10px;
    left: auto;
    background-color: white;
    border-radius: 9999px;
    box-shadow: 0px 3px 20px 0px rgba(0, 0, 139, 0.6);
}

.slider-nav-btn {
    padding: 11px 16px;
    margin: 0.25rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: transform 0.2s ease;
}

.slider-nav-btn:hover {
    transform: scale(1.05);
}

.slider-navigation button img {
    max-width: 100%;
    height: auto;
    display: block;
}

.slider-content {
    max-width: 100%;
    padding: 20px 26px;
    z-index: 20;
}

.quote-icon {
    position: relative;
}

.quote-icon img {
    position: absolute;
    left: 40%;
    height: 60px;
}

.testimonial-quote {
    color: var(--DarkBlue);
    font-weight: 300;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 20px;
    line-height: 1.75rem;
}

.testimonial-author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.author-name {
    color: var(--DarkBlue);
    font-weight: 700;
    font-size: 1.125rem;
    text-align: center;
    margin: 0 0 10px 0;
}

.author-role {
    color: var(--GrayishBlue);
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.curve-decoration {
    position: absolute;
    left: 0px;
    bottom: -40px;
    margin: 0;
}

.curve-decoration img {
    width: 300px;
    vertical-align: middle;
}

@media screen and (min-width: 1024px) {

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .testimonial-slider {
        flex-direction: row-reverse;
    }

    .slider-image-section {
        padding: 88px;
    }

    .slider-content {
        margin-right: -196px;
        max-width: 38%;
    }

    .slider-avatar {
        width: 450px;
    }

    .testimonial-quote {
        font-size: 28px;
        text-align: left;
        line-height: 45px;
        margin-bottom: 35px;
    }

    .slider-navigation {
        bottom: 63px;
        left: 138px;
    }

    .testimonial-author {
        flex-direction: row;
        justify-content: flex-start;
    }

    .author-name {
        margin-bottom: 0;
        margin-right: 15px;
        font-size: 20px;
    }

    .author-role {
        font-size: 20px;
    }

    .quote-icon img {
        top: -31px;
        left: 15%;
        height: 100px;
    }

    .curve-decoration img {
        width: 550px;
        bottom: -61px;
    }

    .curve-decoration {
        bottom: 0;
    }
}

@media screen and (min-width: 1440px) {
    .testimonial-quote {
        font-size: 30px;
        text-align: left;
        line-height: 45px;
        margin-bottom: 35px;
    }

    .slider-content {
        margin-right: -196px;
        max-width: 40%;
    }

    .slider-avatar {
        width: 512px;
    }

    .curve-decoration img {
        width: 650px;
        bottom: 0;
    }

    .author-name {
        margin-bottom: 0;
        margin-right: 15px;
        font-size: 22px;
    }

    .author-role {
        font-size: 22px;
    }
}

@media screen and (min-width: 1600px) {
    .testimonial-quote {
        font-size: 42px;
    }

    .slider-avatar {
        width: 612px;
    }

    .slider-image-section {
        padding: 100px;
    }
}
